* { margin: 0px; 
padding: 0px;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif;
text-decoration: none;}
.logo { font-family: 'Nunito', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
    .header { justify-content: center;
    display: flex;
justify-content: space-between;padding: 15px;
align-items: center;}